<div id="<%= dom_id post %>" class="feature col">
  <h3 class="fs-2 text-body-emphasis">
    Title: <%= post.title %> (<%= post.status %>)
  </h3>
  <p>
    <%= post.body %>
  </p>
  <%= link_to "Show this post", post, class: "icon-link" %>
</div>
